
.logo-image { /* class olduğunu belirtmek için başına . konulur. stil vermek için class oluşturduk. istediğimiz yerde bu class ı çaıracağız. Css dosyası olarak stil vermek 3.yöntem */
    width: 40px;
    border : 1px solid #ddd;
}
/*div,p{

}*/ /*tüm div ve paragraflara stil ekleyebiliriz button şekilde */


/*div ul li {
}*/    /*} div input altında ul altındaki tüm li lere ekler*/ 

/*id olduğunu belirtmek için # koyduk başına. img_logo id li elemana stil veriyoruz.*/
#img_logo 
{
    padding:3px;
    border-radius:50%;
}

.border-red{
    border : 3px solid #ff0000 ;
    border-radius:3px;
}
.error{
    border : 1px solid red ;
    border-radius:3px;
}