@{
    Layout = null;//kendi sayfamda layout gözükmesini istemiyorsam null a çekerim.
}
<!DOCTYPE html> @* Html 5 olduğunu anlaması için html yazıyoruz.  *@

<html>
<head>
    <meta charset="utf-8"/>
    <meta name="description" content="MSÜ Yazılım Kursu"/>
    <meta name="keywords" content="MSÜ,yazılım,kurs,mühendislik"/> @* SEO kapsamında meta data bilgileri vermek gerek.  *@
    <title>MSÜ Project</title>
</head>

<body>

<h1>Welcome To Project</h1>@* başlık bilümü 1 den başlayıp 6 ya kadar başlık ve alt başlık verilebilir. *@
<p>Bu kısma login elemanları gelecektir</p> @* paragraftır yeni satıra geçer *@
</body>

</html>



@* 
Tamer Yıldırım
0505 592 9385
greenpeace@hotmail.com *@