

<div class="row">  @* yanyana olması için row classını import ettik, bunu verdiğimiz yei 12 ye böler. *@
   <div class="col-3"> @* Yeni bir div vererek üç sütunu bu dive verdik *@
       <div id="div_username" class="input-group"> @* bu div bir input grup olduğunu belirttik *@
           <div class="input-group-text">
               <span><i class="fa-solid fa-user"></i></span> @* Yanyana inline yazı ekler stil verebilmek için kullanılır. *@
           </div>
            <input type="text" id="input_username" name="input_username" class="form-control" maxlength="20" placeholder="Username"/>
       </div>
   </div>
</div>